USE [master]
GO
/****** Object:  Database [WeidonDb]    Script Date: 25/01/2021 20:43:13 ******/
CREATE DATABASE [WeidonDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WeidonDb', FILENAME = N'D:\Dev\SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WeidonDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WeidonDb_log', FILENAME = N'D:\Dev\SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\WeidonDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WeidonDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WeidonDb]
GO
/****** Object:  Table [dbo].[Characters]    Script Date: 25/01/2021 20:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[IdDeity] [int] NULL,
	[IdMythology] [int] NOT NULL,
	[Mythology] [varchar](500) NULL,
	[Myth] [varchar](500) NULL,
	[IdMyth] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deity]    Script Date: 25/01/2021 20:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deity](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[AlternativeNames] [varchar](1000) NULL,
	[Mythology] [varchar](500) NULL,
	[IdMythology] [int] NOT NULL,
	[Roles] [varchar](500) NULL,
	[Etymology] [varchar](max) NULL,
	[Origin] [varchar](max) NULL,
	[Symbolism] [varchar](max) NULL,
	[EquivalentDeities] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Myth]    Script Date: 25/01/2021 20:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Myth](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[AlternativeNames] [varchar](1000) NULL,
	[IdMythology] [int] NOT NULL,
	[Mythology] [varchar](500) NULL,
	[Meaning] [varchar](max) NULL,
	[Story] [varchar](max) NULL,
	[Origin] [varchar](max) NULL,
	[EquivalentMyths] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mythology]    Script Date: 25/01/2021 20:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mythology](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NULL,
	[Content] [varchar](max) NULL,
	[Area] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Characters]  WITH CHECK ADD FOREIGN KEY([IdDeity])
REFERENCES [dbo].[Deity] ([Id])
GO
ALTER TABLE [dbo].[Characters]  WITH CHECK ADD FOREIGN KEY([IdMyth])
REFERENCES [dbo].[Myth] ([Id])
GO
ALTER TABLE [dbo].[Deity]  WITH CHECK ADD FOREIGN KEY([IdMythology])
REFERENCES [dbo].[Mythology] ([Id])
GO
ALTER TABLE [dbo].[Myth]  WITH CHECK ADD  CONSTRAINT [FK_Mythology] FOREIGN KEY([IdMythology])
REFERENCES [dbo].[Mythology] ([Id])
GO
ALTER TABLE [dbo].[Myth] CHECK CONSTRAINT [FK_Mythology]
GO
USE [master]
GO
